.button {
  overflow: hidden;
  flex-direction: row;
  border: none;
  margin: 0;
  justify-content: center;
  background: #67244d;
  border-radius: 100px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  user-select: none;
  cursor: default;
  height: 50px;
}
