.ItemChooser {
  background: white;
  border-top: 1px solid rgba(black, 0.1);
  border-bottom: 1px solid rgba(black, 0.1);
}

.ItemChooserSection {
  color: rgba(black, 0.5);

  & + .ItemChooserSection {
    border-top: 1px solid rgba(black, 0.1);
  }
}

.ItemChooserSection--title {
  font-size: 13px;
  padding-top: 10px;
  padding-left: 10px;
}

.ItemChooserChoice--container {
  width: 90px;
  flex-shrink: 0;

  &:first-child {
    margin-left: 10px;
  }
}

.ItemChooserChoice {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(black, 0.05);
  border: 1px solid rgba(black, 0.1);
  position: relative;

  .ItemChooserChoice--title {
    font-size: 10px;
    margin-top: 40px;

    &.isDisplay {
      color: var(--purple);
    }
  }

  .imgContainer {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;

    svg {
      path,
      circle {
        fill: rgba(black, 0.3);
      }

      height: 50px;
    }
  }

  &.isActive {
    background: #fc7772;
    color: white;

    svg {
      path,
      circle {
        fill: white;
      }
    }
  }

  &.isDisplay {
    svg {
      path,
      circle {
        fill: var(--purple);
      }
    }
  }
}
